@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800&family=Space+Grotesk:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #282A36;
    display: flex;
    justify-content: center;
    align-items: center;
     min-height: 100vh;

}
    
#entrada{
    margin: 10% 15%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    display: grid;
    gap: 8px;
    
   
}

input{
    background-color: #343746;
    border-radius: 10px;
    height: 40px ;
    color: white;
    
}

h1{
    color: white;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}

h2{
    color: #BD93F9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login{
    margin-top: 8px;
    color: #B8B8C5;
}
p{
    color: #B8B8C5;

}
#botao{
    background-color: #BD93F9;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: trasform 0.3 ease;

}
#botao:hover{
    transform: scale(1.01);
}
.link{
    color:#BD93F9;
}
.outro{
    text-align: center;

}
.loginSenha{
    margin-top: 8px;
    color: #B8B8C5;
}